.login-logo {
  display: block;
  width: 100px;
  margin: auto;
  object-fit: contain;
}
.login-container {
  max-width: 400px;
  background-color: rgb(121, 121, 121);
  padding: 1rem;
  height: 60vh;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
}
.login-container h1 {
  text-align: center;
  font-weight: 500;
}
.login-container input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-container input:focus {
  border: none;
  border: 1px solid blue;
}
.login-container button {
  padding: 3px 1rem;
  background-color: #eb9f3c;
  border: 1px solid rgb(187, 186, 186);
  outline: none;
  border-radius: 7px;
  width: 100%;
  font-size: 1rem;
  margin-top: 10px;
}
.login-container button:active {
  border: none;
}
.login-container p {
  font-size: 10px;
}
